# Виртуальное окружение
venv/
.env
*.pyc
__pycache__/

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Логи и базы данных
*.log
*.db
*.sqlite3

# Конфигурационные файлы с секретами
config.ini
secrets.ini

# Jupyter Notebook
.ipynb_checkpoints

# Файлы проекта
*.egg-info/
build/
dist/